*{
    margin: 0;
    padding: 0; 
}

body{
    margin: 13px;
    padding: 0;
}

.banner{
    background-color: lightgray;
    height: 160vh;
    text-align: center;
    font-family: sans-serif;
}

.banner h1{
  padding-top: 20px;
}

.banner p{
    line-height: 45px;
}

.photo{
    background: white;
    height: 70vh;
    text-align: center;
    margin: 30px;
}

.photo p{
    padding-top: 2px; 
    font-family: sans-serif;
}

.statue{
    padding: 2.1vh;
}

#time-line{
    font-family: sans-serif;
}

#time-line h2{
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 2rem;
    text-align: center;
}

#time-line li{
    margin-left: 380px;
    line-height: 40px;
    font-size: 1.2rem;
    padding-left: -40px;
    text-align: left;
}

.ending-quote{
    padding-top: 45px;
    margin-left: 120px;
    font-size: 1.3rem;
    font-family: sans-serif;
}